.clients .swiper {
  width: 100%;
  padding: 50px;
}

.clients .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 222px;
  height: 138px;
}

.clients .swiper-slide img {
  display: block;
  width: 100%;
}
