.clients .swiper {
  width: 90%;
  padding: 50px;
  margin: 0 auto;
}

.clients .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 222px!important;
  height: 145px;
}

.clients .swiper-slide img {
  display: block;
  width: 100%;
}
.client-swiper .custom-swiper-button-prev,
.client-swiper .custom-swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 20;
  transform: translateY(-50%);
  cursor: pointer;
}


.client-swiper .custom-swiper-button-prev {
  left: 1%;
}

.client-swiper .custom-swiper-button-next {
  right: 1%;
}


@media(max-width: 860px) {

 .client-swiper .custom-swiper-button-prev,
  .client-swiper .custom-swiper-button-next {
    top: -15px!important;
   
  }
  .client-swiper .custom-swiper-button-prev{
    left: 70%;
  }
  .client-swiper .custom-swiper-button-next{
    left: 90%;
  }


}
@media(max-width: 584px){
  .clients .swiper {
    width: 90%!important;
  }
  .clients .swiper-slide  {
    width: 100%!important;
  }
  
}